source https://www.nuget.org/api/v2
storage:none

nuget Fable.Core
nuget Fable.Import.Node
nuget Fable.Import.Browser
nuget Fable.React

group Build
  source https://nuget.org/api/v2
  nuget FAKE

group Dev
  source https://nuget.org/api/v2
  nuget FantomasCLI
